USE [master]
GO
/****** Object:  Database [FundsDb]    Script Date: 23/11/2025 02:08:08 ******/
CREATE DATABASE [FundsDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FundsDb', FILENAME = N'/var/opt/mssql/data/FundsDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FundsDb_log', FILENAME = N'/var/opt/mssql/data/FundsDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FundsDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FundsDb]
GO
/****** Object:  Table [dbo].[Funds]    Script Date: 23/11/2025 02:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funds](
	[Isin] [char](12) NOT NULL,
	[Filename] [nvarchar](255) NOT NULL,
	[File_Lang] [char](2) NOT NULL,
	[Fund_Name] [nvarchar](255) NOT NULL,
	[Doc_Date] [nvarchar](10) NULL,
	[Caso_Costi] [nvarchar](50) NULL,
	[Entry_Costs_Log] [nvarchar](max) NULL,
	[Entry_Costs] [decimal](5, 2) NULL,
	[Exit_Costs_Log] [nvarchar](max) NULL,
	[Exit_Costs] [decimal](5, 2) NULL,
	[Ongoing_Costs] [decimal](5, 2) NULL,
	[Ongoing_Costs_Log] [nvarchar](max) NULL,
	[Is_Valid] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Isin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
